{% load django_bootstrap5 %}
<footer class="bg-body-tertiary text-center">
    <div class="mb-4">
        <a href="#" class="btn btn-outline-light btn-social mx-1">
            <i class="fab fa-twitter fa-2x" style="color: #55acee;"></i>
        </a>
        <a href="#" class="btn btn-outline-light btn-social mx-1">
            <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i>
        </a>

    </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright
  </div>
  <!-- Copyright -->
</footer>